/*colors
 black #121113
white #F0F0EB
green #3AE170
purple #713D92*/

/* custom fonts */
@font-face {
    font-family: 'n27';

    font-family: 'cyrene';
    src:  url('../assets/fonts/CyreneRegular.woff2') format('woff2'),
          url('../assets/fonts/CyreneRegular.woff') format('woff');
}
@import url('https://fonts.cdnfonts.com/css/n27');

/** cursor */
/* html {
    cursor: none;
} */

html{
    scroll-behavior: smooth;
  }

body{
    background-color: #F0F0EB;
    color:#121113;
    font-family: 'N27', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    margin: 0 0;

    /** cursor */
    /* .cursor__circle{
        position: absolute;
        transition: .2s ease;
        opacity: 30%;
        
        &__circle {
            top: 0;
            left: 0;
            mix-blend-mode: difference;
            z-index: 1000;
            
            circle {
                fill:#121113;
                fill: white;
                mix-blend-mode: difference;
          }
        }
      } */
}

a{
    text-decoration: none;
    color:#121113;
    transition: 1s ease-in-out1;

}
/* a:hover{
    font-style: italic;
} */

/* --- different text sizes */
/* .bodyTxt{
    font-size: 20px;
} */
#semiTitleTxt{
    font-size: 4vh;
}
.titleTxt{
    font-size: 64px;
}
.superTxt{
    font-size: 100px;
    font-size: 10vh;
}

hr{
    border: 1px solid #121113;
    /* width: 98.5vw; */
}

/* ------------------------------- COVER */
.coverImg{
    width: 80vw;
    position: fixed;
    transition: .4s ease-out;
    filter: contrast(80%) saturate(40%) grayscale(10%) brightness(1.1) blur(10px);

    background: linear-gradient(217deg, #49AE30, rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, #49AE30, rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, #49AE30, rgba(0, 0, 255, 0) 70.71%);
    border-radius: 50%;
    font-size: 250px;
    height: 2em;
    width: 2em;
    filter: blur(100px);
}
.filter{
    width: 55vw;
    position: fixed;
    transition: .4s ease-out;
    mix-blend-mode: multiply;
    filter:blur(10px);
}

.coverContent{
    position: fixed;
    white-space: nowrap;
}
.blurover{
    transition: .4s ease-out;
}
#Title{
    margin-top: -3%;   
    font-size: 15vw;
}
.italic{
    font-style: italic;
}
.cyrene{
    font-family: cyrene;
}
.green{
    color: #3AE170;
}
#infoContent{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -20px;
    margin-top: -10px;
    /* padding-right: 5%; */
}
#hlInfo{
    margin-left: 20px;
    border: 1px solid #121113;
    justify-self: center;
    /* width: 93.5%; */
}
.coverInfo{
    width: 80vw;
    display: flex;
    justify-content: flex-end;

}

.coverOptions{
    position: fixed;
    margin-top: -12%;
    width: 98vw;
    height: 50vh;
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.coverOpt{
    margin: 10px 0 10px 0;
    align-self: flex-end;
    transition: .4s ease-out;
    padding-left: 40px;
    padding-bottom: 10px;    
}

#divWeb{
    background-position: revert;
}
#optfront{
    margin-left: -30%;
}
#optweb{
    margin-left: -60%;
}
#optint{
    margin-left: -15%;
}

.coverOpt:hover{
    background-image: url('../img/circle.svg');
    background-repeat: no-repeat;
    background-size: 90% 100%;
    background-position: center;
    cursor: pointer;
}
/* .optdiv{
    transition:transform 500ms ease;
} */
/* .coverOpt:hover{
    background-image: url('../assets/img/circle.svg');
    transform:scale(1.6);
    
    #Title{
        filter: blur(20px);
    }
} */

/* #optfront, #optweb, #optdig, #optint{
    background-image: url('../assets/img/circle.svg');
} */

/* .optfront{
    background-image: url('../img/circle.svg');
    background-repeat: none;
    background-size: 120%;
} */

.cover{
    height: 100vh;
}

/* --- for the navbar*/

@keyframes close {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

#navBtn{
    width: 1.8rem;
    position: relative;
    display:none;
    bottom: 0vh;
    left: 10vh;
    /* flex-direction: row; */
}
#navbar{
    display:flex;
    flex-direction: row;
    width: 56vh;
    height: 15vh;
    transform: rotate(-90deg);
    position: fixed;
    /* position: absolute; */
    bottom: 15vh;
    left:-16vh;    
    align-items: flex-start;
    transition: .4s ease-out;
    
    /* a{
        padding-right: 10px;
    } */
}
.navLinks{
    position:relative;
    display:flex;
    flex-direction: row;
    text-align: center;
}
.navLinks div{
    position: relative;
    width: 13vh;
    transition: .4s ease-out;
    a{
        width: 13vh;
        /* position: relative; */
        /* padding: 1vh; */
        position: absolute;
    }
}

a.navLinks :hover{
    font-style: italic;
    transition-delay: -3s;
}
.navLinks a:hover:before{
    content: "> ";
    font-style: italic;
}


/* ---- for pages*/

.pageTitle{
    margin-top: -10px;
    margin-bottom: -5px;
    white-space: nowrap;
    /* width: 100%; */
}

.titleDiv{
    margin-top: -10px;
    margin-bottom: 10px;
    height: 4vh;
    /* width: 100vw;
    margin: auto auto; */
}

@keyframes hmove {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

.hmove{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    /* left: 1; */
    /* animation: hmove 20s linear infinite; */
    overflow: clip;
}

.hmove2{
    /* animation-delay: 5s;
    display: none; */
    /* padding-left: -200%;
    left: 100%; */
    display: none;
  }

.pageSection{
    position: relative;
    background-color: #F0F0EB;
    width: 100vw;
    height: 100vh;
    margin-bottom: -10px;
    transform: .3s ease;
}
.pagebody{
    padding: 10px 20px 10px 20px;
}

/* --- for my work section */
.thumbnail, .thumbnailFilter{
    position: absolute;
    width: 500px;
    filter: contrast(80%) saturate(40%) grayscale(10%) brightness(1.1);
}
.thumbnailFilter{
    position: relative;
    width: 500px;
    transition: .4s ease-out;
    mix-blend-mode: multiply;
    /* filter:blur(10px); */
}

.work{
    width: 500px;
}
.workTitle{
    position: relative;
    text-align: right;
}


@media (max-width: 850px) {
    body{
        font-size: 15px;
    }
    .coverOptions{
        margin-top: 15%;
        /* margin-left: -5%; */
        /* width: 98vw;
        height: 50vh; */
    }
}