/*colors
 black #121113
white #F0F0EB
green #3AE170      alternative #7B9F60
purple #713D92*/

/* custom fonts */
@font-face {
    font-family: 'n27';

    font-family: 'cyrene';
    src:  url('/assets/fonts/CyreneRegular.woff2') format('woff2'),
          url('/assets/fonts/CyreneRegular.woff') format('woff');
    font-style: normal;
    
}
@import url('https://fonts.cdnfonts.com/css/n27');


.invisible{
    display: none;
}
.notInteractable{
    pointer-events: none;
}

/** cursor */
html {
    cursor: none;
}

html{
    scroll-behavior: smooth;
  }

body{
    /* animationn */

    /* -webkit-animation: moveToTop .6s ease both; */
    -webkit-transition: moveToTop .6s ease both;
    transition: moveToTop .6s ease both;

    /* ---- */
    background-color: #F0F0EB;
    color:#121113;
    font-family: 'N27', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    margin: 0 0;

    /** cursor */
    .cursor__circle{
        pointer-events: none;
        overflow-y : none;
        position: fixed;
        /* transition: 0.5s ease; */
        /* opacity: 30%; */
            
            circle {
                fill:#121113;
                fill: white;
                /* mix-blend-mode: difference; */
            }
    }
}

@-webkit-keyframes moveToTop {
    from { }
    to { -webkit-transform: translateY(-100%); }
  }
  @keyframes moveToTop {
    from { }
    to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
  }

.ball{
    top: 0;
    left: 0;
    z-index: 10;
    mix-blend-mode:difference;
}

a{
    text-decoration: none;
    color:#121113;
    transition: 1s ease-in-out1;
    cursor: none;
}

a:hover{
    font-style: italic;
}

/* --- different text sizes */
/* .bodyTxt{
    font-size: 20px;
} */
#semiTitleTxt{
    font-size: 4vh;
}
.semiTxt{
    font-size: 2vw
}

.titleTxt{
    font-size: 64px;
}
.superTxt{
    font-size: 100px;
    font-size: 5vw;
}

hr{
    border: 1px solid #121113;
    /* width: 98.5vw; */
}

/* ------------------------------- COVER */
.coverImg{
    width: 80vw;
    position: fixed;
    transition: .4s ease-out;
    filter: contrast(80%) saturate(40%) grayscale(10%) brightness(1.1) blur(10px);

    background: linear-gradient(217deg, #7B9F60, rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, #7B9F60 , rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, #7B9F60, rgba(0, 0, 255, 0) 70.71%);
    border-radius: 50%;
    font-size: 250px;
    min-height: 2em;
    min-width: 2em;
    filter: blur(80px);
}
.filter{
    height: 102vw;
    position: fixed;
    /* transition: .4s ease-out; */

    mix-blend-mode: multiply;
    /* filter:blur(2px) hue-rotate(100deg); */
}

.coverContent{
    position: fixed;
    white-space: nowrap;
}
.blurover{
    transition: .4s ease-out;
}
#Title{
    margin-top: -3%;   
    font-size: 15vw;
}
.italic{
    font-style: italic;
}
.cyrene{
    font-family: cyrene;
    font-style: normal;
}
.green{
    color: #3AE170;
    color: #7B9F60;
}
#infoContent{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -20px;
    margin-top: -10px;
    /* padding-right: 5%; */
}
#hlInfo{
    margin-left: 20px;
    border: 1px solid #121113;
    justify-self: center;
    /* width: 93.5%; */
}
.coverInfo{
    width: 80vw;
    display: flex;
    justify-content: flex-end;

}

.coverOptions{
    position: fixed;
    margin-top: -12%;
    width: 98vw;
    height: 50vh;
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.coverOpt{
    margin: 10px 0 10px 0;
    align-self: flex-end;
    transition: .4s ease-out;
    padding-left: 40px;
    padding-bottom: 10px;    
}

#divWeb{
    background-position: revert;
}
#optfront{
    margin-left: -30%;
}
#optweb{
    margin-left: -60%;
}
#optint{
    margin-left: -15%;
}

.coverOpt:hover{
    background-image: url('../img/circle.svg');
    background-repeat: no-repeat;
    background-size: 90% 100%;
    background-position: center;
    /* cursor: pointer; */
}
/* .optdiv{
    transition:transform 500ms ease;
} */
/* .coverOpt:hover{
    background-image: url('../assets/img/circle.svg');
    transform:scale(1.6);
    
    #Title{
        filter: blur(20px);
    }
} */

/* #optfront, #optweb, #optdig, #optint{
    background-image: url('../assets/img/circle.svg');
} */

/* .optfront{
    background-image: url('../img/circle.svg');
    background-repeat: none;
    background-size: 120%;
} */

.cover{
    height: 100vh;
}

/* --- for the navbar*/

@keyframes close {
    0% {
        transform: rotate(0deg);
        /* rotation-point:0% 0%; */
        transform-origin:0 100% ;
        opacity: 100%;
    }
    100% {
        transform: rotate(90deg);
        /* rotation-point:0% 0%; */
        transform-origin: 0 100%;
        opacity: 0%;
    }
  }

#navBtn{
    width: 1.8rem;
    position: relative;
    display:none;
    bottom: 0vh;
    left: 10vh;
    transform: rotate(0deg);
    transition: .4s ease-out;
}

.difference{
    mix-blend-mode:difference;

}

#navBtn:hover{
    transform: rotate(90deg);
    transition: .4s ease-out;
}

#navbar{
    display:flex;
    flex-direction: row;
    width: 80vh;
    /* height: 15vh; */
    transform: rotate(-90deg);
    position: fixed;
    bottom: 35vh;
    left:-35vh;    
    align-items: flex-start;
    transition: .4s ease-out;

    padding: 0px;
}

.navLinks{
    position:relative;
    display:flex;
    flex-direction: row;
    text-align: center;
    /*! jdkhed */
    transition: .4s ease-out;
    /* animation: none; */
}
.navLinks div{
    position: relative;
    width: 15vh;
    transition: .4s ease-out;
    a{
        width: 13vh;
        /* position: relative; */
        /* padding: 1vh; */
        position: absolute;
        /* cursor: pointer; */
    }
}

a.navLinks :hover{
    font-style: italic;
    transition-delay: -3s;
}
.navLinks a:hover:before{
    font-style: italic;
    content: "> ";
}


/* ---- for pages*/

.pageTitle{
    margin-top: -10px;
    margin-bottom: -5px;
    white-space: nowrap;
    /* width: 100%; */
}

.titleDiv{
    margin-top: -10px;
    margin-bottom: 10px;
    height: 4vh;
    /* width: 100vw;
    margin: auto auto; */
}

@keyframes hmove {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

.hmove{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    /* left: 1; */
    /* animation: hmove 20s linear infinite; */
    /* left: var(percentScroll); */
    overflow: clip;
}

.hmove2{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    /* animation-delay: 5s;
    display: none; */
    /* padding-left: -200%;
    left: 100%; */
    /* left: var(percentScroll); */
    overflow: clip;
    /* transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1); */
    /* display: none; */
  }

.pageSection{
    position: relative;
    background-color: #F0F0EB;
    width: 100vw;
    height: 100vh;
    margin-bottom: -10px;
    transform: .3s ease;
    
    background-image: url("/assets/img/rectTest.png");
    background-size: 100%;
}
.pagebody{
    padding: 10px 20px 10px 20px;
}

.scrollPage{
    height: auto;
}

/* --- for my work section */
.thumbnail{
    /* position: absolute; */
    width: 100%;
    filter: contrast(80%) saturate(40%) grayscale(10%) brightness(1.1);
}
.thumbnailFilter{
    position: relative;
    width: 30%;
    transition: .4s ease-out;
    mix-blend-mode: multiply;
    /* filter:blur(10px); */
}

.collectionWorks{
    padding-top: 40px;
    padding-bottom: 60px;

}

.work{
    width: 30%;

    padding-right: 40px;
    padding-bottom: 40px;
}

.work:hover{
}

#showingImg{
    position: fixed;
    pointer-events: none;
    
    transition: 0.5s ease;
    height: 400px;
    display: none;
}

.workTitle{
    margin: 0px;
    /* text-align: right; */
}

.works{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;

    /*--- color transition*/
    /* background: linear-gradient(to right, #7B9F60, #7B9F60 50%, #121113 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.4s ease-in-out; */
}

/* .works:hover{
    background-position: 0 100%;
} */

.worksDesc{
    width: 20%;
}

.txtRightAlign{
    text-align: end;
}

.rowJustified{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alignDown{
    align-items: end;
    margin: 0px;
}
.alignedUp{
    align-items: start;
}

#projectDesc{
    margin: 0px;
    text-align: end;
}

.padded{
    padding: 20px;
}

.colJustified{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.displayImgs{
    width: 70%;
    align-items: end;
}
.displayImg{
    margin-left: 10px;
    width: 48%;
}

.displayVideo{
    width: 65%;
    /* aspect-ratio: 19 / 6; */
}

#linksList{
    /* width: 20%; */
    text-align: start;
}

#nextUp{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 60px;

    /* position: absolute;
    bottom: 0; */
    /* margin-bottom: 20px; */

    a{
        font-style: normal;
    }
}

@media (max-width: 850px) {
    body{
        font-size: 15px;
    }
    .coverOptions{
        margin-top: 15%;
        /* margin-left: -5%; */
        /* width: 98vw;
        height: 50vh; */
    }
}